<html>
  <body>
    <h2>Update Registration Page - Customer</h2>
    <p>Rocket Basket: Shop Fast, Ship Faster - Customer Information Update</p>
    <div style="display: flex; justify-content: space-around; gap: 1in;">
      <div style=" 1; padding: 20px;">
        <form action="customer_update.php" method="post">
          <label for="fullname">Full Name:</label><br>
          <input type="text" id="fullname" name="fullname" value="Paul Abunda" required><br>
          <label for="contactnumber">Contact Number:</label><br>
          <input type="tel" id="contactnumber" name="contactnumber" value="09276504625" required><br>
          <label for="address">Address:</label><br>
          <input type="text" id="address" name="address" value="Inayagan, Naga Cebu" required><br>
         
        </form>
      </div>
      <div style="flex: 1; padding: 20px;">
        <form action="" method="post">
          <label for="username">Username Ⓒ:</label><br>
          <input type="text" id="username" name="username" value="pawekz" required><br>
          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password" required><br>
          <label for="confirmpassword">Confirm Password:</label><br>
          <input type="password" id="confirmpassword" name="confirmpassword" required><br>
          <input type="submit" value="UPDATE">
        </form>
      </div>
    </div>
  </body>
</html>